{% extends 'base.html' %} 
{% block content %}
<div class="add_product">
  <h1>Add New Product</h1>
  <form method="POST">
    {% csrf_token %}
    <table>
      {{ form.as_table }}
      <tr>
        <td></td>
        <td>
          <input class="add_btn" type="submit" value="Add Product" />
        </td>
      </tr>
    </table>
  </form>
</div>
<style>
  .add_product {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 13%;
  }

  h1 {
    margin-bottom: 20px;
  }

  table {
    margin-bottom: 20px;
  }

  .add_btn {
    color: white;
    padding: 7px 10px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
    border: 1px transparent;
    background-image: linear-gradient(to right, #06beb6, #48b1bf);
    cursor: pointer;
  }
</style>
{% endblock %}