{% extends 'base.html' %}
{% block content %}
<h1>Welcome to SigMart</h1>

<h5>App: </h5>
<p>{{ app }}<p>

<h5>Name:</h5>
<p>{{ name }}</p>

<h5>Class:</h5>
<p>{{ class }}</p>

{% if not product_entries %}
<p>Belum ada data product pada SigMart.</p>
{% else %}
<table>
  <tr>
    <th>Product Name</th>
    <th>Desription</th>
    <th>Price</th>
    <th>Rating</th>
    <th>Date</th>
  </tr>

  {% comment %} Berikut cara memperlihatkan data product di bawah baris ini 
  {% endcomment %} 
  {% for product_entry in product_entries %}
  <tr>
    <td>{{product_entry.name}}</td>
    <td>{{product_entry.description}}</td>
    <td>{{product_entry.price}}</td>
    <td>{{product_entry.rating}}</td>
    <td>{{product_entry.date}}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}

<br />

<a href="{% url 'main:create_product_entry' %}">
  <button>Add New Product Entry</button>
</a>
{% endblock content %}